<div class="w">
    <div class="box3">
        <h2>热门碟片</h2>
    </div>
    <div class="box4 clearfix" id="pic1">
    </div>
    <div class="box5 clearfix">
        <h2>全部新碟</h2>
        <ul id='z-list'>
            <li><a href="javascrpit:;">华语<b>|</b></a></li>
            <li><a href="javascrpit:;">欧美<b>|</b></a></li>
            <li><a href="javascrpit:;">韩国<b>|</b></a></li>
            <li><a href="javascrpit:;">日本</a></li>
        </ul>
    </div>
    <div class="box6 clearfix" id="pic2">
    </div>
    <div class="box7 ">
        <span id="left"><a href="javascrpit:;">&lt;上一页</a></span>
            <span id="block7">
                <span class="current"><a href="javascrpit:;">1</a></span>
                <span><a href="javascrpit:;">2</a></span>
                <span><a href="javascrpit:;">3</a></span>
                <span><a href="javascrpit:;">4</a></span>
                <span><a href="javascrpit:;">5</a></span>
                <span><a href="javascrpit:;">6</a></span>
                <span><a href="javascript:;">7</a></span>
                <span><a href="javascript:;">8</a></span>
                <span class="hade"><a href="javascript:;">9</a></span>
                <span class="hade"><a href="javascript:;">10</a></span>
                <span class="hade"><a href="javascript:;">11</a></span>
                <span class="hade"><a href="javascript:;">12</a></span>
                <span class="hade"><a href="javascript:;">13</a></span>
                <span class="hade"><a href="javascript:;">14</a></span>
                <i id="diandian">...</i>
                <span><a href="javascript:;">15</a></span>
            </span>
        <span id="right"><a href="javascrpit:;">下一页&gt;</a></span>
    </div>
</div>
