<!--主体start-->
<div class="r-main r-w clearfix">
    <!--左边选择栏start-->
    <div class="r-left fl">
        <ul id="r_table">
            <li>
                <ol >
                    <dt>推荐</dt>
                    <dd><span></span><a href="javascript:;">推荐歌手</a></dd>
                    <dd><span></span><a href="javascript:;">入驻歌手</a></dd>
                </ol>
            </li>
            <li>
                <ol>
                    <dt>华语</dt>
                    <dd><span></span><a href="javascript:;">华语男歌手</a></dd>
                    <dd><span></span><a href="javascript:;">华语女歌手</a></dd>
                    <dd><span></span><a href="javascript:;">华语组合/乐队</a></dd>
                </ol>
            </li>
            <li>
                <ol>
                    <dt>欧美</dt>
                    <dd><span></span><a href="javascript:;">欧美男歌手</a></dd>
                    <dd><span></span><a href="javascript:;">欧美女歌手</a></dd>
                    <dd><span></span><a href="javascript:;">欧美组合/乐队</a></dd>
                </ol>
            </li>
            <li>
                <ol>
                    <dt>日本</dt>
                    <dd><span></span><a href="javascript:;">日本男歌手</a></dd>
                    <dd><span></span><a href="javascript:;">日本女歌手</a></dd>
                    <dd><span></span><a href="javascript:;">日本组合/乐队</a></dd>
                </ol>
            </li>
            <li>
                <ol>
                    <dt>韩国</dt>
                    <dd><span></span><a href="javascript:;">韩国男歌手</a></dd>
                    <dd><span></span><a href="javascript:;">韩国女歌手</a></dd>
                    <dd><span></span><a href="javascript:;">韩国组合/乐队</a></dd>
                </ol>
            </li>
            <li>
                <ol>
                    <dt>其他</dt>
                    <dd><span></span><a href="javascript:;">其他男歌手</a></dd>
                    <dd><span></span><a href="javascript:;">其他女歌手</a></dd>
                    <dd><span></span><a href="javascript:;">其他组合/乐队</a></dd>
                </ol>
            </li>
        </ul>
    </div>
    <!--左边选择栏end-->
    <!--右边信息栏start-->
    <div class="r-right fl" id="r_hot">
        <div class="r-top">
            <ul id="r_ul">
                <li>
                    <ol class="clearfix">
                        <dt><em>入驻歌手</em> <a href="javascript:;">更多&gt;</a></dt>
                        <dd>
                            <a href="javascript:;">
                                <img src="images/r-images/t_1.png" alt=""/>
                                <p>
                                    <span>张惠妹</span>
                                    <i></i>
                                </p>
                            </a>
                        </dd>
                    </ol>
                </li>
                <li>
                    <ol class="clearfix">
                        <dt><em>热门歌手</em></dt>
                        <dd>
                            <a href="javascript:;">
                                <img src="images/r-images/b_1.png" alt=""/>
                                <span>周杰伦</span>
                                <i></i>
                            </a>
                        </dd>

                    </ol>
                </li>
            </ul>
        </div>
        <div class="r-bottom clearfix" id="r_singerName">

        </div>
    </div>
    <!--右边信息栏end-->
</div>
<!--主体end-->