<!--这是banner的开始-轮播图-->
<div class="s-banner" id="s-banner">
   <div class="s-imgBanner">
       <ul>
           <li><img src="images/banner1.jpg" ></li>
           <li><img src="images/banner2.jpg" ></li>
           <li><img src="images/banner3.jpg" ></li>
           <li><img src="images/banner4.jpg" ></li>
           <li><img src="images/banner5.jpg" ></li>
           <li><img src="images/banner6.jpg" ></li>
           <li><img src="images/banner7.jpg" ></li>
           <li><img src="images/banner28.jpg" ></li>
       </ul>
       <ol>
       </ol>
       <div class="s-kehuduan">
           <a href="#"></a>
          <p> PC 安卓 iPhone WP iPad Mac 六大客户端</p>
       </div>

   </div>
   <div class="s-arrowsL"></div>
   <div class="s-arrowsR"></div>
</div>
<!--这是banner的结束-轮播图-->
<!--这是主体的开始-->
<!--1.0这是nav的开始-->
<div class="s-main clearfix" id="s-main">
    <div class="s-content">
        <div class="nav">
            <h1><i></i>热门推荐</h1>
            <ul class="clearfix">
                <li>华语</li>
                <li>流行</li>
                <li>摇滚</li>
                <li>民谣</li>
                <li class="teshu">电子</li>
            </ul>
            <sapn class="s-span">更多 <em>→</em></sapn>
        </div>
        <!--1.0这是nav的结束-->
        <div class="s-imgBig">
            <!--这是img 的开始-->
            <div class="s-img" >
                <img src="images/s-image/01.jpg" class="s-smallimg"/>
                <a href="javascript:;">一个人的旅行，</a>
                <div class="s-mycontent">
                    <a href="javascript:;" class="bofangqi"></a>
                    <span class="dianjishu">120万</span>
                    <span class="erji"></span>
                </div>
            </div>
            <!--这是img 的结束-->
        </div>
        <!--这是图片的开始-->
        <div class="s-tupian clearfix">
            <img src="images/s-image/123.jpg" alt=""/>
        </div>
        <!--这是图片的结束-->
        <!--这是中部导航开始-->
        <div class="nav">
            <h1><i></i>新碟上架</h1>
            <sapn class="s-span">更多 <em>→</em></sapn>
        </div>
        <!--这是中部导航结束-->
        <div class="s-lunbotu">
            <!--<img src="images/s-image/456.png" alt=""/>-->
        </div>
        <!--这是底部导航的开始-->
        <div class="nav">
            <h1><i></i>榜单</h1>
            <sapn class="s-span">更多 <em>→</em></sapn>
        </div>
        <!--这是底部导航的结束-->
        <!--这是榜单内容的开始-->
        <div class="s-bigbox" id="bigBox">
            <div class="s-smallbox">
                <img src="images/s-image/001.jpg" alt=""/>
                <a href="javascript:;" class="aaa">云音乐飙升榜</a>
                <span class="s-music"></span>
                <span class="shoucangjia"></span>
                <ul>
                    <li id="li">
                        <a href="javascript:;" class="wenzi">
                            <span class="num">1</span>
                            <b>周游</b>
                        </a>
                        <span id="span">
                            <s class="s-music"></s>
                            <s class="tianjia"></s>
                            <s class="shoucangjia"></s>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!--这是榜单内容的结束-->

    </div>
    <!--这是侧边栏的结构开始-->
    <div class="s-sidebar" id="s-sidebar">
        <!--用户登录-->
        <div class="s-enter">
            <p class="s-p">登录到网易云音乐，可以享受无限收藏的</br>乐趣，并且无限同步到手机</p>
            <a href="javascript:;" class="s-denglu"><span class="s-text">用户登录</span></a>
        </div>
        <!--目录-->
        <div class="s-dir">
            <div class="s-hd">
                <p class="left"><a href="#/artist">入驻歌手</a></p>
                <p class="right"><a href="#/artist">查看全部&gt;</a></p>
            </div>
        </div>
        <div class="s-person clearfix">
            <img src="images/s-image/img1.png"  alt="" class="s-tp"/>
            <span>
                <p class="s-top">张惠妹 aMEI</p>
                <p class="s-bottom">台湾歌手张惠妹</p>
            </span>
        </div>
    </div>
</div>

<!--这是主体的结束-->