<!--top开始-->
<div class="l-banxin">
    <div class="l-all">
        <div class="l-cnt">
            <h1>全部</h1>
            <span>选择分类<i><s>◇</s></i></span>

            <div id="l_xin" class="l-xin l-fr">
                <a class="l-lr" href="javascript:;">热门</a>
                <a href="javascript:;">最新</a>
            </div>
        </div>
    </div>
</div>
<!--top结束-->
<!--图片布局开始-->
<div class="l-box l-banxin">
    <ul id='l-content' class="clearfix">
        <li class="l-tupian l-fl">
            <div class="l-img">
                <div class="l-tu">
                    <a href="javascript:;"></a>
                </div>
                <div class="l-conter">
                    <a href="javascript:;"><h2>无论这一年你经历了...</h2></a>
                    <p><span>by</span></p>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--图片布局结束-->
<!--底部翻页按钮开始-->
<div class="l-btn l-all">
    <button>&lt; 上一页</button>
    <ul id="ull" class='clearfix fl'>
        <li><a class="l_red" href="javacscript:;">1</a></li>
        <li><a href="javacscript:;">2</a></li>
        <li><a href="javacscript:;">3</a></li>
        <li><a href="javacscript:;">4</a></li>
        <li><a href="javacscript:;">5</a></li>
        <li><a href="javacscript:;">6</a></li>
        <li><a href="javacscript:;">7</a></li>
        <li><a href="javacscript:;">8</a></li>
        <li>...</li>
        <li><a href="javacscript:;">43</a></li>
    </ul>
    <button>下一页 &gt;</button>
</div>
<!--底部翻页按钮结束-->
