<div class="x-box x-w clearfix">
    <!--left↓-->
    <div class="x-box-left " id="x_teSeBang">
        <h2>云音乐特色榜</h2>
        <ul>
            <li class="x-box-left-tese clearfix">
                <div class="fl icon clearfix">
                    <a href="javascript:;"><img src="images/img/11.jpg" alt=""/></a>
                </div>
                <div class="fl key clearfix">
                    <p class="p1"><a href="javascript:;">云音乐飙升榜</a></p>

                    <p class="p2">每天更新</p>
                </div>
            </li>
        </ul>
        <h2>全球媒体榜</h2>
    </div>
    <!--left↑-->
    <!--right↓-->
    <div class="x-box-right clearfix">
        <!--top↓-->
        <div id="x_title" class="x-box-right-head clearfix">
            <div class="x-box-right-head-left">
                <img src="images/img/1.jpg" alt=""/>
            </div>
            <div class="x-box-right-head-right clearfix">
                <h2>云音乐飙升榜</h2>

                <div class="x-box-right-head-right-time">
                    <i class="icon-png"></i>
                    <span>最近更新：<s id="riqi"></s></span>
                    <span>（每天更新）</span>
                </div>
                <!--=========button========-->
                <div id="x_TopBtn" class="x-box-right-head-right-btn clearfix">
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn1">
                        <i>
                            <em class="button2"></em>
                            播放
                        </i>
                    </a>
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn2"></a>
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn3">
                        (267508)<i></i>
                    </a>
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn4">
                        (1151)<i></i>
                    </a>
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn5">
                        下载<i></i>
                    </a>
                    <a href="javascript:;" class=" button2 x-box-right-head-right-tool-btn6">
                        (47868)<i></i>
                    </a>
                </div>
            </div>
        </div>
        <!--top↑-->
        <!--center↓-->
        <div class="x-box-right-list clearfix">
            <div class="x-box-right-list-dt">
                <span class="span1">歌曲列表</span>
                <span class="span2">99首歌</span>
                <span class="span3">播放：<s>186127584</s>次</span>
            </div>
            <table class="x-box-right-list-dd">
                <thead>
                <tr class=" table-png x-box-right-list-dd-title">
                    <th class="tr-th-1"></th>
                    <th class="tr-th-2">
                        <div class="table-png">标题</div>
                    </th>
                    <th class="tr-th-3">
                        <div class="table-png">时长</div>
                    </th>
                    <th class="tr-th-4">
                        <div class="table-png">歌手</div>
                    </th>
                </tr>
                </thead>
                <tbody id="list" class="x-box-right-list-dd-content">
                <tr class="content-tr">
                    <td class="tr-td-1">
                        <div>
                            <s>1</s>
                            <i class="icon-png"></i>
                        </div>
                    </td>
                    <td class="tr-td-2">
                        <div>
                            <img src="" alt=""/>

                            <div>
                                <span class="table-png"></span>
                                <a href="#">
                                    <i class="table-png"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="tr-td-3">
                        <span class="shichang"></span>

                        <div class="tool">
                            <span class="icon-png span1" title="添加到播放列表"></span>
                            <span class="table-png span2" title="收藏"></span>
                            <span class="table-png span3" title="分享"></span>
                            <span class="table-png span4" title="下载"></span>
                        </div>
                    </td>
                    <td class="tr-td-4">
                        <a href="#"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--center↑-->
        <!--bottom↓-->
        <div class="x-box-right-bott">
            <div class="x-box-right-bott-discuss">
                <h2>评论</h2>
                <span>共43025条评论</span>
            </div>
            <div  class="x-box-right-bott-publish">
                <div class="publish-top clearfix">
                    <img src="images/img/touxiang.jpg" alt=""/>
                    <div class="publish-top-right">
                        <span><p>评论</p></span>
                        <div>
                            <i class="i1 icon-png"></i>
                            <i class="i2 icon-png"></i>
                            <i class="i4 button">评论</i>
                            <i class="i3">140</i>
                        </div>
                    </div>
                </div>
                <div id="publish" class="publish-content clearfix">
                    <h3>最新评论(43025)</h3>
                    <div class="publish-content-user clearfix">
                        <i class="pic"></i>
                        <div class="user">
                            <a href="#">JustSoSo小夏同学</a>
                            <span>：厉害了我慧</span>
                            <br/><br/>
                            <div class="reply">
                                <em class="reply1">09:51</em>
                                <a class="reply2" href="javascript:;">回复</a>
                                <a class="reply3">
                                    <i class="icon2-png"></i>
                                    (10)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="huanye">
            <span class="button span1">上一页</span>
            <span class="button span2">1</span>
            <span class="button span3">2</span>
            <span class="button span4">3</span>
            <span class="button span5">4</span>
            <span class="button span6">5</span>
            <span class="button span7">6</span>
            <span class="button span8">7</span>
            <span class="button span9">8</span>
            <span class="button span10">2496</span>
            ...
            <span class="button span11">下一页</span>
        </div>
        <!--bottom↑-->
    </div>
</div>
</div>

